@import url(https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 950px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  font-size: 10px;
  text-decoration: none;
  margin: 0 20px 0 5px;
  color: black;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

i {
  font-size: 25px;
  color: #797979;
  margin: 0 7px;
}

.blue-btn {
  background-color: #0282F9;
  color: white;
  border: none;
  padding: 7px 35px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: white;
}
header .container ul {
  display: flex;
}
header .logo {
  width: 60px;
  height: 60px;
}
header ul li a {
  font-weight: bold;
}
header ul li a.active, header ul li a:hover {
  color: #0282F9;
  border-bottom: 2px solid #0282F9;
}

.jumbotron .top-jumbo {
  position: relative;
  height: 300px;
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.jumbotron .top-jumbo .blue-btn {
  position: absolute;
  z-index: 999;
  bottom: -10px;
  left: 245px;
}
.jumbotron .bottom-jumbo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 15px 0;
  background-color: #1C1C1C;
}
.jumbotron .container {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;
  color: white;
}

.card {
  width: 110px;
  height: 110px;
  margin: 10px;
  text-align: center;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.information {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #0282F9;
}
.information .container {
  justify-content: center;
}
.information .container ul {
  display: flex;
}
.information .container li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.information .container li a {
  color: white;
}
.information .container .img-info {
  width: 40px;
  height: 40px;
}

footer .top-footer {
  display: flex;
  justify-content: center;
  background-image: url("../img/footer-bg.jpg");
}
footer .top-footer .container {
  color: white;
}
footer .top-footer .container .img-footer {
  width: 400px;
  height: 100%;
  background-image: url("../img/dc-logo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .top-footer .container .link-footer {
  display: flex;
}
footer .top-footer .container .link-footer a {
  font-size: 8px;
  text-transform: none;
}
footer .top-footer h5 {
  text-transform: uppercase;
  padding-left: 5px;
  margin: 10px 0;
}
footer .top-footer a {
  color: #959595;
}
footer .bottom-footer {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #303030;
}
footer .bottom-footer .container {
  padding: 5px;
}
footer .bottom-footer .container button {
  background-color: #303030;
  padding: 8px 10px;
  border-collapse: collapse;
  border: 1px solid #0282F9;
}
footer .bottom-footer .container button a {
  color: white;
  margin: 0;
}
footer .bottom-footer .container h5 {
  margin-right: 10px;
  color: #1B65E7;
}
footer .bottom-footer .container .socials {
  display: flex;
}
footer .bottom-footer .container .socials i {
  cursor: pointer;
}