header{
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: white;
  .container{
    ul{
      display: flex;
    }
  }
  .logo{
    width: 60px;
    height: 60px;
  }
  ul li a{
    font-weight: bold;
    
    &.active,
    &:hover{
      color: #0282F9;
      border-bottom: 2px solid #0282F9;
    }
  }
}