.information{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #0282F9;
  .container{
    justify-content: center;
    ul{
      display: flex;
    }
    li{
      display: flex;
      align-items: center;
      margin: 0 10px;
      a{
        color: white;
      }
    }
    .img-info{
      width: 40px;
      height: 40px;
    }      
  }
}